{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TG {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/abase.css' %}">
    {% endblock %}
</head>
<body onclick="closeSidebar(event)">
    <header class="header">
        <div class="orange-header"></div>
        <span class="menu-icon" onclick="toggleSidebar(event)">☰</span>
        <h1>Spedocity</h1>
        <button class="login-btn">Login</button>
    </header>

    <div class="sidebar" id="sidebar">
        <h2>Menu</h2>
        <a href="#">Home</a>
        <a href="{% url "aorder" %}">Orders</a>
        <a href="#">Subscription</a>
        <a href="{% url "aemployee" %}">Employee</a>
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
    </div>

    
    {% block content %}{% endblock content %}

    <script>
        function toggleSidebar(event) {
            event.stopPropagation(); // Prevent event from bubbling
            const sidebar = document.getElementById('sidebar');
            const isOpen = sidebar.style.left === '0px';

            if (isOpen) {
                sidebar.style.left = '-250px'; // Hide sidebar
            } else {
                sidebar.style.left = '0px'; // Show sidebar
            }
        }

        function closeSidebar(event) {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.style.left === '0px' && !event.target.closest('.sidebar') && event.target !== document.querySelector('.menu-icon')) {
                sidebar.style.left = '-250px'; // Hide sidebar
            }
        }
    </script>
</body>
</html>