{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="container">
    <div class="box-container">
        <div class="content">
            <div class="text-section">
                <h2>
                    About<br/><span>US ?</span>
                </h2>
                <ul class="features">
                    <li><i class="fas fa-check-circle"></i> Expert Drivers</li>
                    <li><i class="fas fa-check-circle"></i> Easy Booking</li>
                    <li><i class="fas fa-check-circle"></i> Budget Friendly</li>
                </ul>
                <p>
                    Choose us for your goods transport needs because we provide reliable, efficient, and cost-effective transport solutions tailored to your business requirements. Our user-friendly platform ensures seamless booking, real-time tracking, and a wide network of trusted transport partners to ensure your goods reach their destination on time. With a focus on safety and customer satisfaction, we offer flexible scheduling and competitive pricing to meet your logistics demands.
                </p>
            </div>
            <div class="image-section">
                <img src="{% static 'img/transportation.png' %}" alt="About us picture" />
                <div class="badge">
                    <i class="fas fa-user-plus"></i>
                    <div>
                        <span>1K+</span>
                        <p>Enrolled Users</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}