{% extends "abase.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/ahome.css' %}">
<div class="main" id="mainContent">
    <div class="stats">
        <div class="stat-card">
            <h3>Total Partners</h3>
            <p>{{ total_partners }}</p>
        </div>
        <div class="stat-card">
            <h3>Total Customers</h3>
            <p>{{ total_customers }}</p>
        </div>
        <div class="stat-card">
            <h3>Orders Today</h3>
            <p>{{ orders_today }}</p>
        </div>
        <div class="stat-card">
            <h3>Total Orders</h3>
            <p>{{ total_orders }}</p>
        </div>
    </div>
</div>
{% endblock %}
