{% extends "abase.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/ahome.css' %}">
<div class="main" id="mainContent">
    <div class="stats">
        <div class="stat-card">
            <h3>Total Sales</h3>
            <p>$25,000</p>
        </div>
        <div class="stat-card">
            <h3>New Orders</h3>
            <p>150</p>
        </div>
        <div class="stat-card">
            <h3>Subscriptions</h3>
            <p>45</p>
        </div>
        <div class="stat-card">
            <h3>Partners</h3>
            <p>45</p>
        </div>
    </div>

{% endblock %}