.booking-container {
    width: 90%; /* Width adjustment as before */
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    margin: 0 auto; /* Center horizontally */
    min-height: 600px; /* Set a minimum height for the form */
}
h2 {
    text-align: center;
    color: #28a745;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
.booking-details-heading {
    color: #C76E00;
    background-color: transparent;
    margin-top: 20px;

}
.back-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #007bff;
    font-weight: bold;

}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.input-group {
    position: relative;
    margin-top: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.cancel-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #218838;
}
.current-location-text {
    display: block;
    margin-top: 5px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    text-align: left;
}
.current-location-text:hover {
    color: #0056b3;
}
.hidden {
    display: none;
}
#map {
    height: 200px;
    width: 100%;
    margin-top: 20px;
}
.note {
    font-size: 12px;
    color: #ff5733;
    margin-top: 5px;
}
#via-locations {
    max-height: 150px;
    overflow-y: auto;
}
.via-heading {
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}