# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If you use Django migrations but want to keep empty __init__.py
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py,cover
!*/migrations/__init__.py

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
htmlcov/
